{% extends "base.html" %}

{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <section>
        <nav class="bg-gray-900 fixed w-full shadow-xl z-20 top-0 start-0">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="{% url 'index' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'images/logo/logo_albi7.jpg' %}" class="rounded-full h-14 w-14 me-3" alt="Albino 7 Logo" />
                    <!-- <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Albino 7</span> -->
                </a>
                <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    <a href="{% url 'login' %}" class="text-white hover:text-white border border-white hover:bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-block me-2 mb-2">
                        Esapce personnel
                    </a>
                    {% comment %} <button data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="drawer-navigation" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button> {% endcomment %}
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                    <ul
                        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                        <li>
                            <a href="{% url 'index' %}" class="nav-link block py-2 px-3 text-yellow-300 bg-yellow-500 rounded-sm md:bg-transparent md:p-0 md:dark:text-yellow-500" aria-current="page">Accueil</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}" class="nav-link block py-2 px-3 rounded-sm hover:bg-gray-100 md:hover:bg-transparent hover:text-yellow-500 md:p-0 dark:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent dark:border-gray-700">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <div class="h-24 lg:h-24"></div>
    <div class="h-8 lg:h-8"></div>
        <h2 class="font-bold text-yellow-300 text-3xl text-center">Suite</h2>
        <hr class="w-48 h-1 mx-auto my-4 bg-yellow-300 border-0 rounded-sm md:my-10">
        <p class="mt-4 text-xl text-white font-bold text-center">
            Suite de présentation sur ALBINO7
        </p>
    <div class="h-8 lg:h-8"></div>
    <section class="dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid md:grid-cols-1 lg:grid-cols-2 gap-6 md:gap-8 lg:gap-16 items-center">
            <!-- Image -->
            <div class="flex justify-center image-container fade-in-left">
                <img class="h-auto max-w-full image rounded-lg shadow-xl dark:shadow-gray-800" src="{% static 'images/lireplus/img3.jpg' %}" alt="image description">
            </div>
            <!-- Texte -->
            <div class="flex flex-col justify-center text-center md:text-left fade-in-up">
                <h1 class="mb-4 text-3xl text-left font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-white">
                    En savoir plus sur ALBINO7 ?
                </h1>
                <p class="mb-4 text-left text-sm font-normal text-white md:text-md">
                    Marie France, professeur de S.V.T. (Sciences de la Vie et de la Terre), en retraite après 36 ans d’enseignement dans les collèges et lycées du département de Loire-Atlantique (44), France.
                    Depuis sa retraite, elle a multiplié les engagements bénévoles, avec toujours le même axe : l’éducation et le respect des autres.
                    Pour l’A.F.M-Téléthon (2008-2017), elle a été équipière scolaire et co-animatrice autour des maladies neuro-musculaires et de la recherche. 
                    Pour l’U.N.I.C.E.F., elle a été membre active du plaidoyer pour les droits de l’enfant. 
                    Elle a également œuvré pour l’ONG VALEUR ALBINOS, une association béninoise dédiée à l’albinisme et la sensibilisation des jeunes.
                    Ses centres d’intérêt incluent l’enseignement et la transmission de connaissances scientifiques, notamment dans le domaine biologique, ainsi que l’éducation.
                    Elle est également la conceptrice et la réalisatrice d’un jeu éducatif intitulé « Albinisme ? Amélanisme ? », scientifique et éducatif, destiné à sensibiliser. Ce jeu est conçu en deux versions : 
                    - Une version pour les écoles primaires (CM1/CM2, 9-10 ans) 
                    - Une version pour les collèges (14 ans et +)  
                    Ce jeu est adapté pour une meilleure accessibilité aux personnes atteintes d’albinisme, souvent malvoyantes. Des versions en anglais sont en préparation.
                    Un voyage d’études au Bénin il y a une cinquantaine d’années a marqué un tournant dans ses actions et son engagement pour les causes liées à l'albinisme.
                </p>                 
            </div>
        </div>
    </section>
    
    <footer class="bg-gray-800">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <div class="flex items-center justify-center">
                <span class="text- font-bold text-white sm:text-center">© 2025 <a
                    href="{% url 'index' %}" class="hover:underline">Albino7</a>. Touts droits réservés.
                </span>
            </div>
    </footer>

    <section>
        <div id="imageModal" class="fixed inset-0 z-50 hidden items-center justify-center bg-black/70 backdrop-blur-sm transition-opacity duration-300">
            <div class="relative max-w-4xl w-full p-4">
                <!-- Bouton de fermeture -->
                <button onclick="closeModal()" class="absolute top-4 right-4 text-white text-4xl hover:text-yellow-400 transition">
                    &times;
                </button>
        
                <!-- Image affichée -->
                <img id="modalImage" src="" alt="Zoom image" class="rounded-lg w-full max-h-[80vh] object-contain shadow-2xl" />
            </div>
        </div>
    </section>

    <script>
        function openModal(imageSrc) {
            const modal = document.getElementById('imageModal');
            const image = document.getElementById('modalImage');
            image.src = imageSrc;
            modal.classList.remove('hidden');
            modal.classList.add('flex');
        }

        function closeModal() {
            const modal = document.getElementById('imageModal');
            modal.classList.remove('flex');
            modal.classList.add('hidden');
            document.getElementById('modalImage').src = '';
        }
    </script>

{% endblock content %}