{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/logo/log.png' %}" class="rounded-full object-cover">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <title>Albino7</title>
</head>
<body class="bg-gray-900 text-white">
    
    {% block content %}
    
    {% endblock content %}
    {% if user.is_authenticated %}
    <script>
        let countdown = 300;
        const timer = setInterval(function() {
            countdown--;
            if (countdown <= 0) {
                clearInterval(timer);
                alert('Votre session a expiré. Vous allez être redirigé vers la page de connexion.');
                window.location.href = "{% url 'login' %}";
            }
        }, 1000);
    </script>
    {% endif %}
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

</body>
</html>